In [2]:
#import libraries
import numpy as np
import pandas as pd
import time
from datetime import date

In [3]:
welcome_message = 

def print_slow(str):
    for letter in str:
        print(letter, end= '')
        time.sleep(.03)
        
def print_slower(str):
    for letter in str:
        print(letter, end= '')
        time.sleep(.7)

print_slow(welcome_message)

Hello Bruce, have you performed new transactions today? (y/n)

In [ ]:
print_slow('Hello Bruce, have you performed new transactions today? (y/n))

In [4]:
welcome_reply = input().lower()

y

In [29]:
if welcome_reply == 'y':
    print_slower('ok, ')
    print_slow('what is the ticker: ')
    ticker = input().upper()

ok, what is the ticker: test

In [6]:
print_slow('What is the purchase price? ')
buy_price = input()

What is the purchase price? 15.01

In [7]:
#buy price als float neerzetten
buy_price = float(buy_price)

In [8]:
print_slow('In which currency did you buy? ')
currency = input().upper()

In which currency did you buy? EUR

In [9]:
#vraag naar hoeveelheid shares
print_slow('How many shares did you buy? ')
shares = input()

How many shares did you buy? 1

In [10]:
#shares omzetten naar int
shares = int(shares)

In [11]:
#set buy_date as today
buy_date = date.today()

In [12]:
#set status as completed
status = 'completed'

In [13]:
#define sector
print_slow('What is the sector? ')
sector = input()

What is the sector? all

In [14]:
#define region
print_slow('What is the region? ')
region = input().upper()

What is the region? nl

In [15]:
df_new = pd.DataFrame(columns='ticker shares buy_price currency buy_date status sector region'.split())

In [18]:
#add new row to index
df_new.loc[-1] = [ticker, shares, buy_price, currency, buy_date, status, sector, region]

#shift index
df_new.index = df_new.index + 1  # shifting index

In [19]:
df_trans = pd.read_excel('my_portfolio.xlsx')

In [20]:
df_trans

    ticker  shares  buy_price currency    buy_date     status sector region
0  VUSA.AS       1      54.91      EUR  2020-25-10  completed    all     US

In [21]:
df_new

  ticker shares  buy_price currency    buy_date     status sector region
0   TEST      1      15.01      EUR  2020-11-01  completed    all     NL

In [22]:
df_updated = pd.concat([df_trans,df_new])
df_updated

    ticker shares  buy_price currency    buy_date     status sector region
0  VUSA.AS      1      54.91      EUR  2020-25-10  completed    all     US
0     TEST      1      15.01      EUR  2020-11-01  completed    all     NL

In [30]:
#incase of duplicates, remove them. 
df_updated.drop_duplicates(inplace=True)

In [31]:
df_updated.to_excel('my_portfolio.xlsx',sheet_name='Sheet1')

In [32]:
print_slow('Your transactions have been updated.')

Your transactions have been updated.