In [1]:
#import relevant libraries

In [2]:
import numpy as np
import pandas as pd
import yfinance as yf

In [3]:
#create df transactions
df_trans = pd.read_excel('my_portfolio.xlsx')
df_trans

    ticker  shares  buy_price currency   buy_date     status sector region
0  VUSA.AS       1      54.91      EUR 2020-10-25  completed    all     US
1  IAEX.AS       1      53.35      EUR 2020-11-01     placed    all     NL

In [4]:
#create df financials
df_fin = df_trans.drop(['shares', 'currency', 'buy_date', 'sector', 'region', 'status'], axis=1)

In [5]:
#group by 'ticker' and define mean
df_fin_avg = df_fin.groupby('ticker').mean('buy_price')

#rename column
df_fin_avg.rename(columns={'buy_price':'avg_buy'}, inplace=True)

#add to dataset

In [6]:
#merge df financial with df average buy
df_fin = pd.merge(df_fin,df_fin_avg,how='inner',on='ticker')
df_fin

    ticker  buy_price  avg_buy
0  VUSA.AS      54.91    54.91
1  IAEX.AS      53.35    53.35

In [7]:
#collect tickers in a list
my_tickers = df_fin['ticker'].tolist()

In [8]:
#create variable tickers
tickers = yf.Tickers(my_tickers)

In [9]:
#create new dataframe that will be populated with opening prices
df_fin_close = pd.DataFrame(index=[], columns=['ticker', 'previous_close'])

In [10]:
#activate per ticker mode
for ticker in my_tickers:
    
    #collect opening price
    close_price = yf.Ticker(ticker).info.get('previousClose')
    
    #write to new dataframe df_op
    df_fin_close = df_fin_close.append(pd.Series([ticker, close_price], index=df_fin_close.columns), ignore_index=True)

df_fin_close

    ticker  previous_close
0  VUSA.AS          53.678
1  IAEX.AS          53.430

In [11]:
#join the two indexes / data frames
df_fin = pd.merge(df_fin,df_fin_close,how='inner',on='ticker')
df_fin

    ticker  buy_price  avg_buy  previous_close
0  VUSA.AS      54.91    54.91          53.678
1  IAEX.AS      53.35    53.35          53.430

In [12]:
#berekenen van huidige waarde
df_fin_shares = df_trans[['ticker', 'shares']]

df_fin_shares = df_fin_shares.groupby('ticker').sum()

#toevoegen aan df fin
df_fin = pd.merge(df_fin, df_fin_shares, how='inner', on='ticker')
df_fin

    ticker  buy_price  avg_buy  previous_close  shares
0  VUSA.AS      54.91    54.91          53.678       1
1  IAEX.AS      53.35    53.35          53.430       1

In [13]:
#add col gain per share and gain total and value_Total
df_fin['gain_ps'] = df_fin['previous_close'] - df_fin['avg_buy']
df_fin['gain_total'] = df_fin['gain_ps'] * df_fin['shares']
df_fin['value_total'] = df_fin['shares'] * df_fin['previous_close']
df_fin

,ticker,buy_price,avg_buy,previous_close,shares,gain_ps,gain_total,value_total
0,VUSA.AS,54.91,54.91,53.678,1,-1.232,-1.232,53.678
1,IAEX.AS,53.35,53.35,53.430,1,0.080,0.080,53.430

In [14]:
#calculate growth percentage
df_fin['growth_perc'] = ((df_fin['previous_close'] - df_fin['avg_buy']) / df_fin['avg_buy']) * 100
df_fin['growth_perc'] = round(df_fin['growth_perc'], 2)
df_fin['growth_perc'] = df_fin['growth_perc'].astype(str)
df_fin['growth_perc'] = df_fin['growth_perc'] + '%'
df_fin

,ticker,buy_price,avg_buy,previous_close,shares,gain_ps,gain_total,value_total,growth_perc
0,VUSA.AS,54.91,54.91,53.678,1,-1.232,-1.232,53.678,-2.24%
1,IAEX.AS,53.35,53.35,53.430,1,0.080,0.080,53.430,0.15%

In [15]:
#aanpassen kolom structuur
cols = list(df_fin.columns.values)
cols

['ticker',
 'buy_price',
 'avg_buy',
 'previous_close',
 'shares',
 'gain_ps',
 'gain_total',
 'value_total',
 'growth_perc']

In [18]:
df_fin_clean = df_fin[['ticker',
                 'previous_close',
                 'growth_perc',
                 'gain_total',
                 'value_total',
                 'buy_price',
                 'shares',
                 'gain_ps',
                 'avg_buy']]

df_fin_clean

,ticker,previous_close,growth_perc,gain_total,value_total,buy_price,shares,gain_ps,avg_buy
0,VUSA.AS,53.678,-2.24%,-1.232,53.678,54.91,1,-1.232,54.91
1,IAEX.AS,53.430,0.15%,0.080,53.430,53.35,1,0.080,53.35