In [22]:
#import used libraries
import numpy as np
import pandas as pd
import yfinance as yf

In [23]:
#create df transactions
df_trans = pd.read_excel('my_transactions.xlsx', sheet_name='Sheet1', index_col=[0])
df_trans

    ticker  shares  buy_price currency    buy_date     status sector region
0  VUSA.AS       1      54.91      EUR  2020-10-25  completed    all     NL
1  IAEX.AS       1      53.44      EUR  2020-11-02  completed    all     US

In [24]:
#create df financials
df_fin = df_trans.drop(['shares', 'currency', 'buy_date', 'sector', 'region', 'status'], axis=1)

In [25]:
#group by 'ticker' and define mean
df_fin_avg = df_fin.groupby('ticker').mean('buy_price')

#rename column
df_fin_avg.rename(columns={'buy_price':'avg_buy'}, inplace=True)

In [26]:
#merge df financial with df average buy
df_fin = pd.merge(df_fin,df_fin_avg,how='inner',on='ticker')
df_fin

    ticker  buy_price  avg_buy
0  VUSA.AS      54.91    54.91
1  IAEX.AS      53.44    53.44

In [27]:
#collect tickers in a list
my_tickers = df_fin['ticker'].tolist()

#create variable tickers
tickers = yf.Tickers(my_tickers)

In [28]:
df_openPrice = pd.DataFrame(columns = ['ticker', 'open_price'])
df_openPrice

Empty DataFrame
Columns: [ticker, open_price]
Index: []

In [29]:
#activate per ticker mode
for ticker in my_tickers:
    
    #collect opening price
    open_price = yf.Ticker(ticker).info.get('open')
    
    #write to dataframe df_fin
    df_openPrice = df_openPrice.append(pd.Series([ticker, open_price], index=df_openPrice.columns), ignore_index=True)

df_openPrice

    ticker  open_price
0  VUSA.AS      56.203
1  IAEX.AS      57.020

In [30]:
#join the two indexes / data frames
df_fin = pd.merge(df_fin,df_openPrice,how='inner',on='ticker')
df_fin

    ticker  buy_price  avg_buy  open_price
0  VUSA.AS      54.91    54.91      56.203
1  IAEX.AS      53.44    53.44      57.020

In [31]:
#berekenen van huidige waarde
df_fin_shares = df_trans[['ticker', 'shares']]

df_fin_shares = df_fin_shares.groupby('ticker').sum()

#toevoegen aan df fin
df_fin = pd.merge(df_fin, df_fin_shares, how='inner', on='ticker')
df_fin

    ticker  buy_price  avg_buy  open_price  shares
0  VUSA.AS      54.91    54.91      56.203       1
1  IAEX.AS      53.44    53.44      57.020       1

In [32]:
#add col gain per share and gain total and value_Total
df_fin['gain_ps'] = df_fin['open_price'] - df_fin['avg_buy']
df_fin['gain_total'] = df_fin['gain_ps'] * df_fin['shares']
df_fin['value_total'] = df_fin['shares'] * df_fin['open_price']
df_fin

,ticker,buy_price,avg_buy,open_price,shares,gain_ps,gain_total,value_total
0,VUSA.AS,54.91,54.91,56.203,1,1.293,1.293,56.203
1,IAEX.AS,53.44,53.44,57.020,1,3.580,3.580,57.020

In [33]:
#calculate growth percentage
df_fin['growth_perc'] = ((df_fin['open_price'] - df_fin['avg_buy']) / df_fin['avg_buy']) * 100
df_fin['growth_perc'] = round(df_fin['growth_perc'], 2)
df_fin

,ticker,buy_price,avg_buy,open_price,shares,gain_ps,gain_total,value_total,growth_perc
0,VUSA.AS,54.91,54.91,56.203,1,1.293,1.293,56.203,2.35
1,IAEX.AS,53.44,53.44,57.020,1,3.580,3.580,57.020,6.70

In [34]:
#aanpassen kolom structuur
cols = list(df_fin.columns.values)
cols

['ticker',
 'buy_price',
 'avg_buy',
 'open_price',
 'shares',
 'gain_ps',
 'gain_total',
 'value_total',
 'growth_perc']

In [35]:
df_fin_clean = df_fin[['ticker',
                 'open_price',
                 'growth_perc',
                 'gain_total',
                 'value_total',
                 'buy_price',
                 'shares',
                 'gain_ps',
                 'avg_buy']]

df_fin_clean

,ticker,open_price,growth_perc,gain_total,value_total,buy_price,shares,gain_ps,avg_buy
0,VUSA.AS,56.203,2.35,1.293,56.203,54.91,1,1.293,54.91
1,IAEX.AS,57.020,6.70,3.580,57.020,53.44,1,3.580,53.44

In [36]:
#wegschrijven naar excel
df_fin_clean.to_excel('my_financials.xlsx',sheet_name='Sheet1')

In [44]:
if df_fin_clean['gain_total'].sum() < 0:
    more_less = 'less'
    gain_total = round(df_fin_clean['gain_total'].sum() * -1,2)
    
else:
    more_less = 'more'
    gain_total = round(df_fin_clean['gain_total'].sum(),2)
    
gain_msg = "Your shares are worth " + str(gain_total) + " " +  more_less + " compared to the average purchase price."
results_msg = "Your stocks have gained an (unweighted average) of " + str(round(df_fin_clean['growth_perc'].mean(),2)) + "%."
shares_msg = "You own " + str(df_fin_clean['shares'].sum()) + " shares."

print(results_msg)
print(shares_msg)
print(gain_msg)

Your stocks have gained an (unweighted average) of 4.53%.
You own 2 shares.
Your shares are worth 4.87 more compared to the average purchase price.