In [5]:
import pandas as pd
import yfinance as yf
import yahoofinancials as YahooFinancials

In [22]:
shell_df = yf.download('RDSA.AS', 
                       interval='1wk',
                       start='2020-10-25',
                      end='2020-11-04',
                      progress=False)

shell_df


shell_df = shell_df.drop('')

              Open    High     Low   Close  Adj Close    Volume
Date
2020-10-26  10.596  10.956   9.863  10.884     10.884  95742547
2020-11-02  10.950  11.738  10.768  11.580     11.580  39167657
2020-11-03  11.738  11.738  11.514  11.580     11.580  19678809

In [18]:
yf.Ticker('RDSA.AS').history(interval='1d', start='2020-11-04', end='2020-11-04')

              Open    High     Low  Close    Volume  Dividends  Stock Splits
Date
2020-11-03  11.738  11.738  11.514  11.58  19678809          0             0