In [5]:
#import libraries
import numpy as np
import pandas as pd
import time
import datetime

In [6]:
welcome_reply = input('Hello Bruce, have you performed new transactions? y/n ').lower()

Hello Bruce, have you performed new transactions? y/n y

In [7]:
if welcome_reply == 'y':
    ticker = input('Ok, what is the ticker? ').upper()

Ok, what is the ticker? test

In [8]:
buy_date = input('What was the purchase date? (YYYY-MM-DD) ')
year, month, day = map(int, buy_date.split('-'))
buy_date = datetime.date(year, month, day)

What was the purchase date? (YYYY-MM-DD) 2020-02-02

In [9]:
buy_price = input('What is the purchase price? ')
buy_price = float(buy_price)

What is the purchase price? 1

In [10]:
currency = input('In which currency did you buy? ').upper()

In which currency did you buy? eur

In [11]:
#vraag naar hoeveelheid shares
shares = int(input('How many shares did you buy? '))

How many shares did you buy? 1

In [12]:
#set status as completed
status = 'completed'

In [13]:
#define sector
sector = input('What is the corresponding sector? ').lower()

What is the corresponding sector? test

In [14]:
#define region
region = input('What is the region? ').upper()

What is the region? test

In [15]:
df_new = pd.DataFrame(columns='ticker shares buy_price currency buy_date status sector region'.split())

In [16]:
#add new row to index
df_new.loc[-1] = [ticker, shares, buy_price, currency, buy_date, status, sector, region]

#shift index
df_new.index = df_new.index + 1  # shifting index

  ticker shares  buy_price currency    buy_date     status sector region
0   TEST      1        1.0      EUR  2020-02-02  completed   test   TEST

In [34]:
df_trans = pd.read_excel('my_transactions.xlsx',sheet_name='Sheet1', index_col=[0])

In [35]:
df_trans

,ticker,shares,buy_price,currency,buy_date,status,sector,region
0,VUSA.AS,1,54.91,EUR,2020-25-10,completed,all,US
2,IAES.AS,1,53.44,EUR,2020-11-02 00:00:00,completed,all,NL

In [36]:
df_new

  ticker shares  buy_price currency    buy_date     status sector region
0   TEST      1        1.0      EUR  2020-02-02  completed   test   TEST

In [43]:
df_updated = pd.concat([df_trans,df_new])
df_updated

,ticker,shares,buy_price,currency,buy_date,status,sector,region
0,VUSA.AS,1,54.91,EUR,2020-25-10,completed,all,US
2,IAES.AS,1,53.44,EUR,2020-11-02 00:00:00,completed,all,NL
0,TEST,1,1.00,EUR,2020-02-02,completed,test,TEST

In [44]:
#incase of duplicates, remove them. 
df_updated.drop_duplicates(inplace=True)

#if ticker contains 'TEST' then drop row
df_updated = df_updated[~df_updated.ticker.str.contains("TEST")]

#reset indexes
df_updated =df_updated.reset_index(drop=True)
df_updated

,ticker,shares,buy_price,currency,buy_date,status,sector,region
0,VUSA.AS,1,54.91,EUR,2020-25-10,completed,all,US
1,IAES.AS,1,53.44,EUR,2020-11-02 00:00:00,completed,all,NL

In [45]:
df_updated.to_excel('my_transactions.xlsx',sheet_name='Sheet1')

In [46]:
print('Your transactions have been updated.')

Your transactions have been updated.