In [1]:
#libraries
import pandas as pd
import numpy as np
import yfinance as yf

In [2]:
#import transactions
df_main = pd.read_csv('../assets/Transactions.csv')

In [4]:
#clean df - drop all unnamed fields
df_main = df_main.drop(df_mainain.filter(regex='Unnamed').columns, axis=1)

#clean df - drop unused field 'Order Id', 'Wisselkoers'
df_main = df_main.drop(['Order Id', 'Wisselkoers', 'Lokale waarde', 'Waarde', 'Totaal'], axis=1)

In [5]:
#add ticker with function

#define ticker funtion
def getTicker(product):
    if product == "ISHARES AEX":
        return "IAEX.AS"
    elif product == "VANGUARD S&P500":
        return "VUSA.AS"

df_main['ticker'] = df_main['Product'].apply(getTicker)

In [6]:
#rename fields
df_main.rename(columns={'Datum':'buy_date',
                          'Koers':'buy_value', 
                          'Aantal':'qty' ,
                          'Tijd':'buy_time',
                          'Kosten':'costs'},
                 inplace=True)

# Add current price field

In [12]:
#collect tickers in a list
my_tickers = df_main['ticker'].tolist()

#create variable tickers
tickers = yf.Tickers(my_tickers)

df_curr_price = pd.DataFrame(columns = ['ticker', 'curr_price'])

#activate per ticker mode
for ticker in my_tickers:
    
    #collect opening price
    curr_price = yf.Ticker(ticker).info.get('open')
    
    #write to dataframe df_fin
    df_curr_price = df_curr_price.append(pd.Series([ticker, curr_price], index=df_curr_price.columns), ignore_index=True)

,buy_date,buy_time,Product,ISIN,Exchange,qty,buy_value,costs,ticker
0,02-11-2020,09:05,ISHARES AEX,IE00B0M62Y33,EAM,1,53.44,NaN,IAEX.AS
1,26-10-2020,09:05,VANGUARD S&P500,IE00B3XXRP09,EAM,1,54.91,NaN,VUSA.AS

# Add calculations

In [14]:
#df average buy value
df_avg_buy = df_main[['ticker', 'buy_value']]
df_avg_buy = df_avg_buy.groupby('ticker').mean('buy_value')


#df sum of shares
df_sum_shares = df_main[['ticker', 'qty']]
df_sum_shares = df_sum_shares.groupby('ticker').sum('qty')

#df total buy value
df_sum_buy = df_main[['ticker', 'qty', 'buy_value']]
df_sum_buy['sum_buy'] = df_sum_buy['buy_value'] * df_sum_buy['qty']

         qty  buy_value  costs
ticker
IAEX.AS    1      53.44    0.0
VUSA.AS    1      54.91    0.0

In [ ]:
#merge all new df's 
df_main = pd.merge(df_main, df_curr_price, how='inner', on 'ticker')